<div class="m-5">
  <div class="prose m-auto">
    <div class="flex flex-col md:flex-row justify-center items-center">
      <div class="w-36">
        <img alt="Avatar" class="rounded-full" src="https://avatars.githubusercontent.com/u/70104745?v=4" />
      </div>
      <div class="md:w-2/3">
        <div class="flex flex-col justify-center items-center">
          <h3 class="text-2xl">Martijn Schermers</h3>
          <p class="text-lg mb-1">Studentnummer: 2184875</p>
          <p class="text-lg mt-0">HBO Informatica Avans Hogeschool</p>
        </div>
      </div>
    </div>


    <h2 class="mb-2">About</h2>
    <p>
      WorkoutInterface tracker die het mogelijk maakt om je workouts bij te houden en te delen met anderen. Het is mogelijk om
      custom oefeningen toe te voegen, andere gebruikers te volgen, simpel je workout te tracken en om eventueel deel te
      nemen aan een groep workout. Een workout bestaat uit een aantal sets met daaraan gekoppeld een oefening. Zo kan je
      bijvoorbeeld 3 sets van 10 herhalingen voor de oefening bankdrukken uitvoeren.
    </p>

    <h2>Entiteiten</h2>
    <figure class="w-full">
      <img class="max-w-full h-auto rounded-lg" src="../../assets/ERD.png" alt="Entity Relation Diagram">
      <figcaption class="mt-2 text-center text-base-content">Entity Relation Diagram (ERD)</figcaption>
    </figure>

    <div class="grid grid-cols-2">
      <div>
        <p class="font-bold">WorkoutInterface</p>
        <ul>
          <li>_id: string</li>
          <li>name: string</li>
          <li>duration: number</li>
          <li>volume: number</li>
          <li>prs: number</li>
          <li>date: Date</li>
          <li>sets: SetInterface[]</li>
        </ul>
      </div>

      <div>
        <p class="font-bold">Group WorkoutInterface</p>
        <ul>
          <li>_id: string</li>
          <li>name: string</li>
          <li>duration: number</li>
          <li>location: string</li>
          <li>date: Date</li>
          <li>exercises: ExerciseInterface[]</li>
        </ul>
      </div>

      <div>
        <p class="font-bold">ExerciseInterface</p>
        <ul>
          <li>_id: string</li>
          <li>name: string</li>
          <li>description: string</li>
          <li>type: ExerciseType</li>
          <li>category: ExerciseCategory</li>
          <li>primaryMuscle: MuscleEnum</li>
          <li>image: string</li>
        </ul>
      </div>

      <div>
        <p class="font-bold">SetInterface</p>
        <ul>
          <li>_id: string</li>
          <li>reps: number</li>
          <li>weight: number</li>
          <li>exercise: ExerciseInterface</li>
        </ul>
      </div>

      <div>
        <p class="font-bold">UserInterface</p>
        <ul>
          <li>_id: string</li>
          <li>name: string</li>
          <li>email: string</li>
          <li>password: string</li>
          <li>followers: UserInterface[]</li>
          <li>workouts: WorkoutInterface[]</li>
          <li>groupWorkouts: GroupWorkoutInterface[]</li>
          <li>exercises: ExerciseInterface[]</li>
        </ul>
      </div>
    </div>
    <h2>UserInterface Stories</h2>
  </div>

  <div class="overflow-x-auto my-3">
    <table class="table m-auto">
      <thead>
      <tr>
        <th>Nr</th>
        <th>UserInterface story</th>
      </tr>
      </thead>
      <tbody>
      <tr class="hover" *ngFor="let userStory of userStories; let i = index;">
        <th>{{i + 1}}</th>
        <td>{{userStory}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
