<form class="prose card flex-shrink-0 w-full max-w-lg shadow-2xl bg-base-100 m-auto" [formGroup]="exerciseForm"
      (ngSubmit)="onSubmit()">
  <div class="card-body">
    <h1 class="text-center">{{title}}</h1>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Name</span>
      </label>
      <input type="text" class="input input-bordered" name="name" formControlName="name"
             (ngModelChange)="exercise ? exercise.name = $event : ''" placeholder="Name">
      <span *ngIf="name.invalid && (name.dirty || name.touched)">
        <span class="text-error" *ngIf="name.errors?.['required']">Name is required</span>
      </span>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Description</span>
      </label>
      <input type="text" class="input input-bordered" name="description" formControlName="description"
             (ngModelChange)="exercise ? exercise.description = $event : ''" placeholder="Description">
      <span *ngIf="description.invalid && (description.dirty || description.touched)">
        <span class="text-error" *ngIf="description.errors?.['required']">Description is required</span>
      </span>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Type</span>
      </label>
      <select class="select select-bordered" formControlName="type"
              (ngModelChange)="exercise ? exercise.type = $event : ''" name="type">
        <option *ngFor="let type of exerciseTypes" [value]="type">{{type}}</option>
      </select>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Equipment</span>
      </label>
      <select class="select select-bordered" formControlName="category"
              (ngModelChange)="exercise ? exercise.category = $event : ''" name="category">
        <option *ngFor="let category of exerciseCategories" [value]="category">{{category}}</option>
      </select>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Primary MuscleEnum</span>
      </label>
      <select class="select select-bordered" formControlName="primaryMuscle"
              (ngModelChange)="exercise ? exercise.primaryMuscle = $event : ''" name="primaryMuscle">
        <option *ngFor="let muscle of muscles" [value]="muscle">{{muscle}}</option>
      </select>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Image</span>
      </label>
      <input type="url" class="input input-bordered" (ngModelChange)="exercise ? exercise.image = $event : ''"
             name="image" formControlName="image"
             placeholder="Image Url">
      <span *ngIf="image.invalid && (image.dirty || image.touched)">
          <span class="text-error" *ngIf="image.errors?.['pattern']">Must be a valid image url</span>
      </span>
    </div>

    <button [disabled]="exerciseForm.invalid" class="btn btn-primary mt-2" type="submit">{{title}}</button>
  </div>
</form>
