<form class="card flex-shrink-0 w-full shadow-2xl bg-base-100 m-auto"
      (ngSubmit)="saveWorkout(workoutForm)"
      [formGroup]="workoutForm">
  <div class="card-body">
    <h1>Workout</h1>

    <p>Duration: {{duration}}</p>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Name</span>
      </label>
      <input type="text" name="name" formControlName="name"
             class="input input-bordered" placeholder="Workout" />
    </div>

    <div formArrayName="sets">
      <h2>Sets</h2>
      <button class="btn btn-primary btn-sm" type="button" (click)="addSet()">Add another set</button>

      <div *ngFor="let set of sets.controls; let i=index">
        <div [formGroupName]="i">
          <label class="label" for="exercise-{{ i }}">Exercise:</label>
          <div class="flex">
            <input class="input input-bordered" id="exercise-{{ i }}" type="text" formControlName="exercise">
            <input class="input input-bordered w-fit" id="reps-{{ i }}" type="number" formControlName="reps"
                   placeholder="12">
            <input class="input input-bordered" id="weight-{{ i }}" type="number" formControlName="weight"
                   placeholder="100 kg">
            <input class="checkbox" type="checkbox" id="finished-{{i}}" formControlName="finished">
            <button class="btn btn-error btn-sm" type="button" (click)="removeSet(i)">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="workoutForm.invalid">Finish</button>
  </div>
</form>
