<form class="card flex-shrink-0 shadow-2xl bg-base-300 my-3 m-auto prose"
      (ngSubmit)="addWorkout(workoutForm)"
      [formGroup]="workoutForm">
  <div class="card-body">
    <h2 class="my-2">{{workout.name.length > 0 ? workout.name : 'Workout'}}</h2>
    <input type="text" name="name" formControlName="name"
           class="input input-bordered" placeholder="Workout Name" (ngModelChange)="workout.name = $event" />
    <p class="my-0">Duration: {{duration}}</p>

    <div formArrayName="exercises">
      <h2 class="my-2">Exercises</h2>

      <div *ngFor="let exercise of exercises.controls; let exerciseIndex=index">
        <div [formGroupName]="exerciseIndex">
          <input class="hidden" #exerciseId type="hidden" formControlName="id">
          <input class="hidden" #exerciseName type="hidden" formControlName="name">
          <h3 class="my-2">{{exerciseName.value}}</h3>

          <div formArrayName="sets">
            <div *ngFor="let set of getSets(exerciseIndex).controls; let setIndex=index">
              <div class="flex items-start justify-between not-prose" [formGroupName]="setIndex">
                <div class="flex gap-4">
                  <div class="form-control">
                    <label for="reps-{{ exerciseIndex }}" class="label">
                      <span class="label-text">Reps</span>
                    </label>
                    <input class="input input-bordered w-full" id="reps-{{ exerciseIndex }}" type="number"
                           formControlName="reps">
                  </div>

                  <div class="form-control">
                    <label for="weight-{{ exerciseIndex }}" class="label">
                      <span class="label-text">Weight</span>
                    </label>
                    <input class="input input-bordered w-full" id="weight-{{ exerciseIndex }}" type="number"
                           formControlName="weight">
                  </div>
                </div>

                <div class="flex items-center gap-4">
                  <input class="checkbox checkbox-success" type="checkbox"
                         id="finished-{{ exerciseIndex }}"
                         formControlName="finished">

                  <button class="btn btn-error btn-sm" type="button"
                          (click)="deleteSet(exerciseIndex, setIndex)">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-primary btn-sm mt-2 w-full" type="button"
                  (click)="addSet(exerciseIndex, exerciseId.value)">
            Add set
          </button>
        </div>

        <div class="divider"></div>
      </div>

      <div class="flex flex-col gap-2 w-full md:w-1/2 m-auto">
        <label for="add-exercise" class="btn btn-primary btn-sm mt-2">Add Exercise</label>
        <input type="checkbox" id="add-exercise" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle not-prose">
          <div class="modal-box">
            <label for="add-exercise" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="font-bold text-lg">Exercises</h3>
            <div class="modal-action">
              <ul class="w-full divide-y divide-neutral-content">
                <li class="py-3 sm:py-4" *ngFor="let exercise of exercises$ | async">
                  <div class="flex items-center space-x-4">
                    <div *ngIf="exercise.image" class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="{{ exercise.image }}" alt="{{ exercise.name }}">
                    </div>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        {{exercise.name}}
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                        {{exercise.primaryMuscle}}
                      </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      <label class="btn btn-success btn-sm" for="add-exercise"
                             (click)="addExercise(exercise)">
                        Add
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="workoutForm.invalid">Finish</button>
      </div>
    </div>
  </div>
</form>
