<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover cursor-pointer" *ngFor="let user of users" routerLink="/user/{{user._id}}">
        <th>{{user._id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td><button class="link link-error" (click)="deleteUser(user)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="divider"></div>

<form (ngSubmit)="addUser()" class="prose m-auto mb-5">
  <h2 class="mb-1 text-center">Add User</h2>

  <lean-user-form [user]="user"></lean-user-form>

  <button type="submit" class="btn btn-primary w-full mt-5">Add User</button>
</form>
