<div class="card w-96 bg-base-100 shadow-xl m-auto">
  <div class="card-body">
    <h2 class="card-title">{{workout.name}}</h2>
    <p>{{workout.date}}</p>
    <div class="card-actions justify-end">
      <div class="badge badge-primary">{{workout.volume}} kg</div>
      <div class="badge badge-primary">prs: {{workout.prs}}</div>
      <div class="badge badge-primary">{{workout.duration}} m</div>
    </div>
  </div>

  <ul>
    <li *ngFor="let set of workout.sets">
      <div class="card-body">
        <div class="card-actions justify-end">
          <div class="badge badge-primary">{{set.weight}} kg</div>
          <div class="badge badge-primary">{{set.reps}} reps</div>
        </div>
      </div>
    </li>
  </ul>
</div>
