<div class="form-control w-full">
  <label class="label">
    <span class="label-text">Name</span>
  </label>
  <input type="text" name="username" placeholder="Name" [(ngModel)]="user.name" class="input input-bordered w-full" />
</div>

<div class="form-control w-full">
  <label class="label">
    <span class="label-text">Email</span>
  </label>
  <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email" class="input input-bordered w-full" />
</div>

<div class="form-control w-full">
  <label class="label">
    <span class="label-text">Password</span>
  </label>
  <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" class="input input-bordered w-full" />
</div>
