<div class="prose m-auto mb-5">
  <h2 class="mb-1 text-center">Update User</h2>

  <div class="form-control w-full">
    <label class="label">
      <span class="label-text">Name</span>
    </label>
    <input type="text" placeholder="Name" [(ngModel)]="user.name" class="input input-bordered w-full" />
  </div>

  <div class="form-control w-full">
    <label class="label">
      <span class="label-text">Email</span>
    </label>
    <input type="email" placeholder="Email" [(ngModel)]="user.email" class="input input-bordered w-full" />
  </div>

  <div class="form-control w-full">
    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input type="password" placeholder="Password" [(ngModel)]="user.password" class="input input-bordered w-full" />
  </div>

  <button class="btn btn-primary w-full mt-5" (click)="updateUser()">Update User</button>
</div>

<div class="card w-96 shadow-2xl border-primary border-y-2 border-x-2 m-auto">
  <div class="card-body">
    <h2 class="card-title">
      {{user.name}}
    </h2>
    <p>{{user.email}}</p>
  </div>
</div>