<div class="navbar bg-base-100">
  <div class="flex-1">
    <a routerLink="/" class="btn btn-ghost normal-case text-4xl font-bold">Lean</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <!-- <li class="hover:rounded-lg"><a routerLink="/workout">Workouts</a></li> -->
      <li class="focus:rounded-lg hover:rounded-lg"><a routerLink="/about">About</a></li>
      <li class="hover:rounded-lg"><a routerLink="/user">Users</a></li>
      <li class="hover:rounded-lg"><a routerLink="/login">Login</a></li>
    </ul>
  </div>
</div>
