<div class="navbar bg-base-200 rounded-lg">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <lean-icon [icon]="'hamburger'"></lean-icon>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <details>
            <summary>
              <lean-icon [icon]="'workout-list'"></lean-icon>
              Workouts
            </summary>
            <ul class="p-2 bg-base-100 shadow-2xl z-50">
              <li>
                <a routerLink="/workout">
                  <lean-icon [icon]="'individual'"></lean-icon>
                  Individual
                </a>
              </li>
              <li>
                <a routerLink="/group-workout">
                  <lean-icon [icon]="'group'"></lean-icon>
                  Group
                </a>
              </li>
            </ul>
          </details>
        </li>
        <li>
          <a routerLink="/exercise">
            <lean-icon [icon]="'exercise-list'"></lean-icon>
            Exercises
          </a>
        </li>
        @if (loggedInUser$ | async) {
          <li>
            <details>
              <summary>
                <lean-icon [icon]="'profile'"></lean-icon>
                Users
              </summary>
              <ul class="p-2 bg-base-100 shadow-2xl z-50">
                <li>
                  <a routerLink="/user"> All </a>
                </li>
                <li>
                  <a routerLink="/profile"> Profile </a>
                </li>
              </ul>
            </details>
          </li>
        } @else {
          <li>
            <a routerLink="/login">
              <lean-icon [icon]="'login'"></lean-icon>
              Login
            </a>
          </li>
        }
        <li>
          <a routerLink="/about">
            <lean-icon [icon]="'info'"></lean-icon>
            About
          </a>
        </li>
      </ul>
    </div>
    <a
      routerLink="/"
      class="btn btn-ghost text-4xl font-bold capitalize hidden lg:flex"
      >Lean</a
    >
  </div>

  <div class="navbar-center lg:hidden">
    <a routerLink="/" class="btn btn-ghost text-4xl font-bold capitalize"
      >Lean</a
    >
  </div>

  <div class="navbar-end lg:hidden"></div>

  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <li>
        <details>
          <summary class="justify-between">
            <lean-icon [icon]="'workout-list'"></lean-icon>
            Workouts
          </summary>
          <ul class="p-2 bg-base-100 shadow-2xl z-50">
            <li>
              <a routerLink="/workout">
                <lean-icon [icon]="'individual'"></lean-icon>
                Individual
              </a>
            </li>
            <li>
              <a routerLink="/group-workout">
                <lean-icon [icon]="'group'"></lean-icon>
                Group
              </a>
            </li>
          </ul>
        </details>
      </li>

      <li class="hover:rounded-lg">
        <a routerLink="/exercise">
          <lean-icon [icon]="'exercise-list'"></lean-icon>
          Exercises
        </a>
      </li>
      @if (loggedInUser$ | async) {
        <li>
          <details>
            <summary>
              <lean-icon [icon]="'profile'"></lean-icon>
              Users
            </summary>
            <ul class="p-2 bg-base-100 shadow-2xl z-50">
              <li>
                <a routerLink="/user"> All </a>
              </li>
              <li>
                <a routerLink="/profile"> Profile </a>
              </li>
            </ul>
          </details>
        </li>
      } @else {
        <li class="hover:rounded-lg">
          <a routerLink="/login">
            <lean-icon [icon]="'login'"></lean-icon>
            Login
          </a>
        </li>
      }
      <li class="hover:rounded-lg">
        <a routerLink="/about">
          <lean-icon [icon]="'info'"></lean-icon>
          About
        </a>
      </li>
    </ul>
  </div>
</div>
