<div class="hero min-h-screen bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">The ultimate workout tracker!</h1>
      <p class="text-xl py-6">Made with Angular and NestJs</p>
      <button routerLink="/workout" class="btn btn-primary">Start tracking
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- TODO: Recommendations-->
<div>

</div>
