<form [formGroup]="loginForm" (ngSubmit)="login()"
      class="prose card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 m-auto">

  <div class="card-body">
    <h1 class="text-center">Login</h1>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="email" name="email" formControlName="email" placeholder="Email"
             class="input input-bordered" />
      <span *ngIf="email.invalid && (email.dirty || email.touched)">
        <span class="text-error" *ngIf="email.errors?.['required']">Email is required</span>
      </span>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Password</span>
      </label>
      <input type="password" name="password" formControlName="password" placeholder="Password"
             class="input input-bordered" />
      <span *ngIf="password.invalid && (password.dirty || password.touched)">
        <span class="text-error" *ngIf="password.errors?.['required']">Password is required</span>
      </span>
    </div>

    <div class="form-control mt-6">
      <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
      <a class="link link-primary text-center mt-2" routerLink="/register">No account yet? Register!</a>
    </div>

    <div *ngIf="loginForm.errors?.['invalidCredentials']" class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>{{loginForm.errors?.['message']}}</span>
      </div>
    </div>
  </div>
</form>
