name: Build and execute tests 
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: npm install and build
        run: |
          npm install
          npm run build
      - uses: actions/upload-artifact@v3
        with:
          name: Lean
          path: './dist/apps/lean'

  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - name: npm install and run test
        run: |
          npm install
          npm run test
