<form [formGroup]="registerForm" (ngSubmit)="register()"
      class="prose card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 m-auto">

  <div class="card-body">
    <h1 class="text-center">Register</h1>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Username</span>
      </label>
      <input type="text" name="username" formControlName="username" placeholder="Username"
             class="input input-bordered" />
      <span *ngIf="username.invalid && (username.dirty || username.touched)">
        <span class="text-error" *ngIf="username.errors?.['required']">Username is required</span>
      </span>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="email" name="email" formControlName="email" placeholder="Email"
             class="input input-bordered" />
      <span *ngIf="email.invalid && (email.dirty || email.touched)">
        <span class="text-error" *ngIf="email.errors?.['required']">Email is required</span>
        <span class="text-error" *ngIf="email.errors?.['email']">Provide a valid email</span>
      </span>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Password</span>
      </label>
      <input type="password" name="password" formControlName="password" placeholder="Password"
             class="input input-bordered" />
      <span *ngIf="password.invalid && (password.dirty || password.touched)">
        <span class="text-error" *ngIf="password.errors?.['required']">Password is required</span>
        <span class="text-error" *ngIf="password.errors?.['minlength']">Password must be 8 characters long</span>
      </span>
    </div>

    <div class="form-control">
      <label class="label">
        <span class="label-text">Repeat Password</span>
      </label>
      <input type="password" name="repeat-password" formControlName="repeatPassword"
             placeholder="Repeat Password"
             class="input input-bordered" />
      <span *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)">
        <span class="text-error" *ngIf="repeatPassword.errors?.['required']">Repeat Password is required</span>
       <span class="text-error"
             *ngIf="repeatPassword.errors?.['minlength']">Repeat Password must be 8 characters long</span>
      </span>
    </div>

    <div class="form-control mt-6">
      <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Register</button>
      <a class="link link-primary text-center mt-2" routerLink="/login">Already an account? Login!</a>
    </div>

    <div *ngIf="registerForm.errors?.['invalidCredentials']" class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>{{registerForm.errors?.['message']}}</span>
      </div>
    </div>
  </div>
</form>
